page-home {
    ion-title{
        background-color: #a3cef1;
        font-family: 'Lato', sans-serif;
    }

    ion-card{
        border: solid 1px #e7ecef;
        border-radius: 10px !important;
        padding: 0px;
        margin: auto;
        margin-left: 0px !important;
        width: 100% !important;
        text-align: center;
    }

    ion-grid{
        margin-bottom: 7px;
    }

    .percentage{
        text-align: center;
        position: relative;
        bottom: 82px;
        z-index: 1;
        font-size: 16px;
        font-family: 'Lato', sans-serif;

    }

    .bigNum{
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }

    .topic{
        font-size: 20px;
        display: flex;
        font-family: 'Lato', sans-serif;
        color: #636466;
    }

    .topicSmall{
        font-size: 16px;
        display: flex;
        font-family: 'Lato', sans-serif;
        color: #636466;
    }

    .bookList{
        text-align: left;
        margin: 20px;
        font-family: 'Lato', sans-serif;
        color: #274c77;
        font-weight: bold;
        font-size: 16px;
    }

    canvas{
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin:auto;
        margin-bottom: 5px;
        z-index: 0;
    }

    ion-icon{
        margin-right: 10px;
        color: #6096ba;
    }

    h1{
        color: #636466 !important;
    }
}
