page-home {

    ion-card{
        border: solid 1px #e7ecef;
        border-radius: 10px !important;
        padding-bottom: 0 !important;
        margin-left: 0px !important;
        width: 100% !important;
        text-align: center;
    }

    ion-grid{
        margin-bottom: 0px;
    }

    .percentage{
        text-align: center;
        position: relative;
        bottom: 70px;
        z-index: 1;
        font-size: 16px;

    }

    .bigNum{
        font-weight: bold;
        font-size: 35px;
    }

    .topic{
        font-size: 20px;
        display: flex;
        color: #636466;
    }

    .topicSmall{
        font-size: 16px;
        display: flex;
        color: #636466;
    }

    .chartContainer{
        position: relative;
        height: 125px;
    }

    canvas{
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin:auto;
        z-index: 0;
    }

    h1{
        color: #636466 !important;
    }
}
