page-search-book {
    
    ion-title{
        background-color: #a3cef1 !important;
        font-family: 'Lato', sans-serif;
    }

    ion-input{
        border: solid 1px #e7ecef;
        border-radius: 5px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }

    .button{
        background: #274c77 ;
        font-family: 'Lato', sans-serif;
    }

    h1{
        color: #274c77;
        font-family: 'Lato', sans-serif;
    }

    .memo{
        color:#6096ba !important;
        font-family: 'Lato', sans-serif;
    }

    p{
        color: black !important;
        font-family: 'Lato', sans-serif;
    }

    ion-card{
        border: solid 1px #e7ecef;
        border-radius: 10px !important;
        padding: 15px;
        margin-left: 0px !important;
        width: 100% !important;
    }

    #bookList{
        text-align: left;
        // margin: 20px;
        font-family: 'Lato', sans-serif;
        color: #274c77;
        font-weight: bold;
        font-size: 16px;
        display: none;
    }

    #toggleButton{
        background-color: #a3cef1 !important;
    }

    ion-icon{
        margin-right: 10px;
        color: #6096ba;
    }




}